<div class="container">
  <h1>Challenge Angular</h1>
  <div class="card-container">
    <div class="card" routerLink="/weather/LWX">
      <div class="card-title">Pronóstico del Distrito de Columbia (LWX)</div>
      <div class="card-body">
        Haz clic aquí para ver el pronóstico del tiempo para el Distrito de
        Columbia.
      </div>
    </div>
    <div class="card" routerLink="/weather/TOP">
      <div class="card-title">Pronóstico de Kansas (TOP)</div>
      <div class="card-body">
        Haz clic aquí para ver el pronóstico del tiempo para Kansas.
      </div>
    </div>
  </div>
</div>
